*{
	margin: 0;
	padding: 0;
	/*border: 0;*/
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html,body{
	width: 100%!important;
	overflow-x: hidden!important;
}

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

body{
	background: #fff;
	transition: 0.5 all ease-in-out;
}

/*BODY WHITE*/

/*BODY DARK*/

body.dark{
    background: #18191a;
}

.dark .home-text h1 {
    color: #fff;
}

.dark .home-text h4 {
    color: #fff;
}

.dark .home-text h3{
	color: #fff;
}

.dark .btn{
	border: 1px solid #7900ac;
}

.dark .btn:hover{
	border: 1px solid #7900ac;
	color: #fff;
}

.dark .btn2{
	border: 1px solid #7900ac;
	color: #fff;
}

.dark .btn2:hover{
	background: #7900ac;
	border: 1px solid #7900ac;
}

.dark .biografia-text p{
	color: #fff;
}

.dark .carrera-text p{
	color: #fff;
}

.dark .galeria h1{
	color: #fff;
}

.dark .contactos-text h4{
	color: #fff;
}

.dark .contactos-text p{
	color: #fff;
}

.dark .contactos-text li a{
	color: #fff;
}

.dark .contactos-form .boton{
	border: 2px solid #7900ac;
}

.dark .contactos-form .boton:hover{
	border: 2px solid #7900ac;
	color: #fff;
}

.dark footer{
	background: #7900ac;
	color: #fff;
	border-top: 2px solid #af69cd;
}

.dark .top i{
	color: #7900ac;
	background: #fff;
}

.dark .contactos-form form input, form textarea{
	color: #fff;
}

.dark .contactos-form textarea{
	color: #fff;
}



/*BODY DARK*/

/*hEADER*/
header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #7900ac;
	padding: 26px 60px;
	/*border-bottom: 1px solid transparent;*/
	transition: all 0.2s ease;
	/*border: 1px solid #f0810f;*/
}

header.abajo{
	padding: 20px 60px;
}

/*LOGO*/

.logo {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	transition: 0.5s;
}

.logo span{
	font-size: 1.8rem;
	color: #af69cd;
	transition: 0.5s;
}

/*MENU-NAV*/

.menu-nav{
	display: flex;
	margin-top: 10px;
}

.menu-nav a {
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}

.menu-nav a:hover{
	background: #af69cd;
	color: black;
}

#menu-icon{
	font-size: 36px;
	color: #fff;
	z-index: 10001;
	cursor: pointer;
	display: none;
}


/*TOGGLE DARK*/

.toggle{
	position: relative;
	width: 60px;
	height: 30px;
	background: #af69cd;
	border-radius: 100px;
	margin: 0 2px;
	cursor: pointer;
}

.toggle:before{
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background: #011a27;
	border-radius: 50%;
	top: 50%;
	left: 3px;
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}

.toggle.active:before{
	background: #fff;
	left: calc(50%);
}

/*HOME*/

section{
	width: 90%;
	margin: 50px auto 50px;
}

.home{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	position: relative;
	/*background: #f2f2f2;*/
	/*background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;*/
}

.home-text{
	padding: 0 150px;
}

.home-text h1{
	margin: 20px 0;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.1;
	letter-spacing: 2px;
	color: black;
	cursor: pointer;
}

.home-text span{
	color: #7900ac;
	cursor: pointer;
}

.home-text h4{
	color: black;
	font-size: 28px;
	font-weight: 600;
	cursor: pointer;
}

.home-text h3{
	color: black;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
	cursor: pointer;
}

.btn{
	display: inline-block;
	padding: 15px 40px;
	border-radius: 30px;
	font-size: 17px;
	font-weight: 500;
	background: #7900ac;
	color: #fff;
	border: 2px solid black;
	transition: all .40s ease;
}

.btn:hover{
    transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 2px solid black;
	color: black;
}

.btn2{
	display: inline-block;
	padding: 15px 40px;
	border-radius: 30px;
	font-size: 17px;
	font-weight: 500;
	background: transparent;
	color: black;
	border: 2px solid black;
	transition: all .40s ease;
	margin: 20px;
}

.btn2:hover{
    transform: scale(1.01) translateY(-5px);
	background: #7900ac;
	border: 2px solid black;
	color: #fff;
}

.home img{
	width: 350px;
 	height: auto;
 	margin: auto;
 	display: block;
	margin-top: 3em;
	margin: 120px;
}

/*BIOGRAFIA*/

.biografia{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

.biografia-img img{
	width: 350px;
 	height: auto;
 	margin: auto;
 	display: block;
	margin-top: 3em;
	padding: 0 30px;
}

.biografia-text h3{
    color: #7900ac;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 60px;
}

.biografia-text p{
	color: #333;
	text-align: justify;
	line-height: 2;
	font-size: 1rem;
	line-height: 30px;
	margin-bottom: 20px;
	padding: 0 60px;
}


/*CARRERA MUSICAL*/

.carrera{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

.carrera-img img{
	width: 350px;
 	height: auto;
 	margin: auto;
 	display: block;
	margin-top: 3em;
	padding: 0 -120px;
}

.carrera-text h3{
    color: #7900ac;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 60px;
}

.carrera-text p{
	color: #333;
	text-align: justify;
	line-height: 2;
	font-size: 1rem;
	line-height: 30px;
	margin-bottom: 20px;
	padding: 0 60px;
}

/*GALERIA*/

.galeria{
	padding: 40px;
}

h1{
	text-align: center;
	position: relative;
	width: 90%;
	margin: 50px auto;
	color: #7900ac;
	font-weight: 600;
	font-size: 40px;
}

.img-galeria{
	width: 90%;
	margin: 50px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
	gap: 30px;
}

.img-galeria img{
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: 1s;
}

.img-galeria img:hover{
	transform: scale(1.1);
}

.todo-img{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 99;
}

.todo-img img{
	width: 100%;
	max-width: 700px;
}

.todo-img span{
	position: absolute;
	top: 15%;
	right: 10%;
	font-weight: 600;
	font-size: 35px;
	color: #fff;
	cursor: pointer;
}

/*CONTACOS-MY*/

/*CONTACTOS*/

.contactos{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
	width: 80%;
	margin-top: 100px;
	margin: auto;
}

.contactos-text h4{
	margin: 15px 0;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.contactos-text h2{
	font-size: 2rem;
	color: #7900ac;
	cursor: pointer;
}

.contactos-text p{
	color: black;
	font-size: 1rem;
	line-height: 30px;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.contactos-list{
	margin-bottom: 3rem;
}

.contactos-list li{
	margin-bottom: 10px;
	display: block;
}

.contactos-list li a{
	display: block;
	color: #333;
	font-size: 1rem;
	font-weight: 600;
	transition: all .40s ease;
}

.contactos-list li a:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
	color: #7900ac;
}

.contactos-icon i{
	width: 40px;
	height: 40px;
	background: #7900ac;
	border-radius: 20px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}

.contactos-icon i:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}

/*CONTACTOS-FORMULARIO*/

.contactos-form form{
	position: relative;
}

.contactos-form form input, form textarea{
	border: 2px solid #7900ac;
	width: 100%;
	padding: 18px;
	background: transparent;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 30px; 
	color: black;
}

.contactos-form textarea{
	resize: none;
	height: 220px;
}

.contactos-form .boton{
	margin-top: 5px;
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	background: #7900ac;
	color: #fff;
	border: 2px solid black;
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
}

.contactos-form .boton:hover{
	transform: scale(1.01) translateY(-5px);
	border: 2px solid black;
	background: transparent;
	color: black;
}

/*SCROLL*/

.top{
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
}

.top i{
	color: #fff;
	background: #7900ac;
	font-size: 20px;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s;
}

/*FOOTER*/

footer {
	width: 100%;
	background: #f2f2f2;
	border-top: 2px solid #7900ac;
	margin: 0 auto;
	color: #333;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-top: 15PX;
}


/*ADAPTACION-A-MOVIL*/

@media (max-width: 1325px) {
	header{
		padding: 18px auto 60px;
	}

	section{
		margin: 130px 60px;
	}

	.home img{
		width: 250px;
		margin: 0 50px;	
	}

	.home-text{
		padding: 0 80px;
	}

	.home img{
		width: 250px;
		margin: 0 20px;
		padding: 0 10px;	
	}

	.biografia img{
		width: 250px;
		margin-top: 1em;
		margin: 10px;
	}

	.carrera img{
		width: 250px;
		margin-top: 1em;
		margin: 10px;
	}

}

@media (max-width: 1000px){
	
.biografia{
		flex-direction: column;
	}

	.biografia{
		margin: auto;
	}

	.biografia-text h3{
		text-align: center;
		padding: 20px;
	}

	.biografia-text p{
		padding: 0;
	}

	.carrera{
		flex-direction: column-reverse;
		margin: auto;
	}

	.carrera-text h3{
		text-align: center;
		padding: 20px;
	}

	.carrera-text p{
		padding: 0;
	}

	.galeria{
	padding: 0;
	margin: auto;
    }

    .menu-nav a{
    	padding: 5px 10px;
    }

    .contactos{
		margin: auto;
	}
}

@media (max-width: 850px){
	
    section{
		padding: 30px 20px;
	}

	.menu-nav{
	display: none;
}

    .home-text{
	padding: 0;
}

    .home-text h2{
	margin: 10px;
}

    .home-text h4{
    	font-size: 23px;
    	margin: 10px;
    }

    .home-text h1{
    	font-size: 2rem;
    }

    .logo{
    	margin: 0 10px;
    }

    /*HAMBUERGUEASA*/
     
    #menu-icon{
    	display: block;
    	margin-top: 10px;
    	margin: 0 30;
    }

    .menu-nav{
    	position: absolute;
    	width: 250px;
    	top: -600px;
    	right: 0;
    	left: 0;
    	display: flex;
    	flex-direction: column;
    	background: #7900ac;
    	text-align: left;
    	transition: all .2s;
    }

    .menu-nav a{
    	display: block;
    	padding: 1rem;
    	margin: 1rem;
    }

    .menu-nav .toggle{
    	margin: 2rem;
    }

    .menu-nav.active{
    	top: 85%;
    }

    .contactos-text h4{
	font-size: 18px;
}

    .contactos-text h2{
	font-size: 1.5rem;
    }

   
}

@media (max-width: 800px){
	.contactos{
		grid-template-columns: 1fr;
	}

}

@media (max-width: 530px){
	
	.home{
		flex-direction: column-reverse;
	}

	.contactos{
		grid-template-columns: 1fr;
		margin: 0 60px;
	}

	footer{
		font-size: 13px;
		margin: auto;
	}

	.top{
		right: 1.5rem;
		bottom: 3rem;
	}

	.todo-img{
		height: 100%;
	}

	.logo{
		margin: 0 -30px;
	}

	.home{
		margin: auto;
	}

	.home img{
		margin-top: 3em;
	}

	.menu-nav a{
		margin: 0.5rem;
		padding: 0.5rem;
	}

	.menu-nav .toggle{
		margin: 1rem;
	}

	.contactos{
		margin: 0 20px;
	}

	.logo{
		font-size: 15px;
	}

	.logo span{
		font-size: 1.5rem;
	}

	 #menu-icon{
	 	margin: 0 -30px;
	 	margin-top: 10px;
	 }


}






/*MENU_HAMBURGUESA*/










/*GALERIA-ADAPTACION*/

@media screen and (max-width: 400px){
	h1{
		text-decoration: underline;
	}
}




























